name: Quarkus CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  attach-pr-id:
    runs-on: ubuntu-latest
    name: Attach pull request number
    if: github.event_name == 'pull_request'
    steps:
      - name: Create file
        shell: bash
        run: |
          echo -n ${{ github.event.number }} > pull-request-number
      - name: Upload pull request number
        uses: actions/upload-artifact@v2
        with:
          name: pull-request-number-${{ github.event.number }}
          path: pull-request-number
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # test against latest update of each major Java version, as well as specific updates of LTS versions:
        java:
          - {
            version: 11,
            name: "JDK11"
          }
          - {
            version: 16,
            name: "JDK16"
          }

      fail-fast: false
    name: Build Java ${{ matrix.java.name }}
    steps:
      - uses: actions/checkout@v2
      - name: Setup java
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java.version }}
      - name: Build with Maven
        run: mvn -B clean install --fail-at-end
      - name: Upload failure Archive (if maven failed)
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: "surefire-reports-Build Java ${{ matrix.java.name }}"
          path: "**/target/surefire-reports/TEST-*.xml"
